# Environment variables / secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
myenv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmpscratch/
*Project Submission Template*.pptx
scratch/
